<h1>Beta page for Alienz Home page</h1>
<p>This is the home page for Alienzzzz</p>
<p>Find me in app/views/pages/home.html.erb</p>
<% link_to "Join the movement...", "#", :class => "signup_button round" %>
