<!DOCTYPE HTML>
<html>
<head>
	<title>Look, I said aliens are invading our planet... | <%= @title %></title>
  <%= csrf_meta_tag %> # Cross-Site Request Forgery
</head>
<body>
  <%= yield %>
</body>
<footer>
</footer>
</html>
